<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="kolko_krzyzyk_p4_zaliczenie.Properties.Settings.KolkoKrzyzykConnectionString"
            connectionString="Data Source=DESKTOP-5648FP4;Initial Catalog=KółkoKrzyżyk;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>